#!/usr/bin/env python3

import os

# The EventBrite API token we need
# The anonymous access token is fine. 
API_TOKEN = "YOURTOKENHERE"


# The set of arguments to query in Eventbrite
# (NEED URL HERE)
QUERY_ARGS = { 
  # These filters kind of work but have less precedence than 
  # subcategories (!). So be careful if you use these and try 
  # to filter further. 
  'location.address' : 'Kitchener',
  'location.within' : '15km',

  # Alternative to .address (but .address is probably better)
  #'location.latitude' : "43.451640",
  #'location.longitude' : "-80.492534",

  # Eventbrite allows these categories but many people do not 
  # use them. 
  #'categories' : '102,113',
  #'subcategories' : '1001',

  # This can be a single query string. Maybe works with 
  # location? May be case sensitive. 
  'q' : "python",
  }


# Used as the link field in the RSS feed
WEBSITE='http://eventbrite.ca'

# Used as the location of this feed
FEED_LINK="{}/eventbrite_kitchener.rss".format(WEBSITE)

FEED_TITLE="Eventbrite: Waterloo Region Firehose"
FEED_DESCRIPTION="All Events within 15km of Kitchener"

# Where to save the output, and what to call it
SRCDIR=os.path.abspath(os.path.dirname(__file__))
OUTRSS=os.path.join(SRCDIR, "output", "eventbrite_kitchener.rss")
OUTJSON=os.path.join(SRCDIR, "output", "eventbrite_kitchener.json")

# Who is responsible for this feed
WEBMASTER="admin@example.com"
WEBMASTER_NAME="Webmaster"


# What is the filesystem path to the templates?
# (Same folder as config.py?)
TEMPLATE_DIR=SRCDIR


# For datetime nonsense
TIMEZONE="America/Toronto"
