#!/usr/bin/env python3

import os

# The EventBrite API token we need
# The anonymous access token is fine. 
API_TOKEN = "YOURTOKENHERE"


# The set of arguments to query in Eventbrite
# (NEED URL HERE)
QUERY_ARGS = { 
  # These filters kind of work but have less precedence than 
  # subcategories (!). So be careful if you use these and try 
  # to filter further. 
  'location.address' : 'Kitchener',
  'location.within' : '15km',

  # Alternative to .address (but .address is probably better)
  #'location.latitude' : "43.451640",
  #'location.longitude' : "-80.492534",

  # Eventbrite allows these categories but many people do not 
  # use them. 
  #'categories' : '102,113',
  #'subcategories' : '1001',

  # This can be a single query string. Maybe works with 
  # location? May be case sensitive. 
  'q' : "python",
  }

# Include only events changed since this many days. 
# Set to None if you want as much as you can get. Do not set to 0
# unless you like empty feeds. 

# eg: a value of 2 means you want events changed in the last two days.

QUERY_EVENTS_CHANGED_DAYS=3

# Used as the link field in the RSS feed
WEBSITE='http://eventbrite.ca'

# Give this feed a common basename
FEED_BASENAME="eventbrite_kitchener"

# Used as the location of this feed
FEED_LINK="{}/{}.rss".format(WEBSITE, FEED_BASENAME,)

FEED_TITLE="Eventbrite: Waterloo Region Firehose"
FEED_DESCRIPTION="All Events within 15km of Kitchener"

# Where to save the output, and what to call it
SRCDIR=os.path.abspath(os.path.dirname(__file__))
OUTRSS=os.path.join(SRCDIR, "output", "{}.rss".format(FEED_BASENAME,))
OUTJSON=os.path.join(SRCDIR, "output", "{}.json".format(FEED_BASENAME,))
OUTICAL=os.path.join(SRCDIR, "output", "{}.ics".format(FEED_BASENAME,))

# Where to log events
LOGFILE=os.path.join(SRCDIR, "logs", "eventbrite.log")

# Who is responsible for this feed
WEBMASTER="admin@example.com"
WEBMASTER_NAME="Webmaster"


# What is the filesystem path to the templates?
# (Same folder as config.py?)
TEMPLATE_DIR=SRCDIR

# For datetime nonsense
TIMEZONE="America/Toronto"


# Do we attempt to get full descriptions from the
# /events/(event_id)/description endpoint? 
# This costs one API call PER EVENT, and you get 1000 events/hour
GET_FULL_DESCRIPTIONS=True

# What version of the API requires full description calls?
# Anything higher than this will be subject to the additional API
# call. 3.0.0 is fine, and as of this writing I only see 3.0.0 and
# 3.7.0 
SPLIT_DESCRIPTION_API="3.7.0"

# What is the currency used in this application? I guess you are in 
# trouble if there are multiple currencies. You can probably be more
# sophisticated by translating the currency code (eg "CAN") to a
# symbol, but this is good enough for me. 
CURRENCY_SYMBOL='$'

