<?xml version="1.0" encoding="UTF-8"?>

<rss version="2.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
>

    <channel>
        <title>{{ feed_title }}</title>
        <description>{{ feed_description }}</description>
        <link>{{ feed_website }}</link>
        <pubDate>{{ feed_pubdate | rfc822 }}</pubDate>
        <webMaster>{{ feed_webmaster }} ({{ feed_webmaster_name }})</webMaster>
        <lastBuildDate>{{ feed_builddate }}</lastBuildDate>
        {# 
        <image>
            <url>{{ feed_logo_url}}</url>
            <title>{{ feed_title }}</title>
            <link>{{ feed_website }}</link>
        </image>
        #}
        <atom:link href="{{ feed_selflink }}" rel="self" type="application/rss+xml" />

        {% for item in feed_items %}
        <item>
            <title>{{ item['name']['text'] -}}
               {%- if item['is_free'] == false -%}
                 {{- ' ($)'-}}
               {%- endif -%}
            </title>
            <link>{{ item['url'] | cleanurl }}</link>
            <description>

                &lt;p&gt;
                &lt;strong&gt;Date and Time: &lt;/strong&gt;
                &lt;ul&gt;
                    &lt;li&gt;Start: {{ item['start']['local'] | humandate -}}&lt;/li&gt;
                    &lt;li&gt;End: {{ item['end']['local'] | humandate -}}&lt;/li&gt;
                    &lt;li&gt;Nerd Start: {{ item['start']['local'] | iso8601 -}}&lt;/li&gt;
                &lt;/ul&gt;
                &lt;/p&gt;
                


                &lt;p&gt;
                &lt;strong&gt;Location: &lt;/strong&gt;
                {%- if item['venue']['address']['localized_address_display'] is defined %}
                    {{ item['venue']['address']['localized_address_display'] }}
                {%- else -%}
                    unknown.
                {% endif %}
                &lt;/p&gt;

                {{ item['description']['html'] }}
            </description>
            <guid isPermaLink="false">{{ item['id'] }}</guid>
            <pubDate>{{ item['changed'] | rfc822 }}</pubDate>
        </item>
        {% endfor %}
    </channel>
</rss>

